@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root{
    --cor-primaria: #EBECEE;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #EB9B00;
    --cor-quartearia: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --cor-quintiaria: #002F52;
    --cor-sextiaria: #000000;
    --cor-setimiaria: #858585;
    --cor-octinaria: #474646;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans"
}

body{
    background-color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

